body{
margin:0;
font-family:system-ui;
background:#f4f4f4;
overflow:hidden;
}

header{
background:white;
padding:14px;
font-size:20px;
font-weight:600;
position:sticky;
top:0;
z-index:2;
}

#grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:8px;
padding:10px;

}

.card{

height:calc((100vh - 70px)/3);

display:flex;
flex-direction:column;
justify-content:space-between;

}

.productImage{

background:white;
border-radius:16px;
padding:8px;

display:flex;
align-items:center;
justify-content:center;

height:70%;

}

.productImage img{

width:90%;
height:90%;
object-fit:contain;

}

.productName{

font-size:13px;
margin-top:4px;
margin-bottom:4px;

}

.priceButton{

display:flex;
justify-content:space-between;
align-items:center;

background:#ffe6ef;

border-radius:10px;

padding:4px 8px;

font-size:13px;
font-weight:600;

}

.plus{

color:#ff2d55;
font-size:18px;
font-weight:bold;

}

#splash{

position:fixed;
width:100%;
height:100%;

background:#ff2d55;

display:flex;
align-items:center;
justify-content:center;

color:white;
font-size:32px;
font-weight:bold;

z-index:999;

}
