body {
  margin:0;
  font-family:system-ui;
  background:#f4f4f4;
  overflow-y: auto; /* вертикальный скролл */
  -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
}

#container {
  display:none;
  width: 100%;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('images/splash.jpg');
  background-size: cover;
  background-position: center;
  z-index: 999;
}

/* вертикальный список картинок */
.image-card{
  width: 100%;
  margin-bottom: 12px;
  position: relative;
  display:flex;
  justify-content:center;
}

.image-card img{
  width: 95%;
  max-height: 70vh; /* чтобы картинки не были слишком высокими */
  border-radius:12px;
  object-fit:cover;
}

/* Разделение контрольной картинки на 6 ячеек */
.cell-overlay {
  position: absolute;
  border: 2px dashed red; /* видим сейчас, потом убрать */
  pointer-events: none; /* клики проходят через ячейки */
}

.cell-0 { top:0; left:0; width:50%; height:33.33%; }
.cell-1 { top:0; left:50%; width:50%; height:33.33%; }
.cell-2 { top:33.33%; left:0; width:50%; height:33.33%; }
.cell-3 { top:33.33%; left:50%; width:50%; height:33.33%; }
.cell-4 { top:66.66%; left:0; width:50%; height:33.34%; }
.cell-5 { top:66.66%; left:50%; width:50%; height:33.34%; }
